{% extends 'base.html.twig' %}
{% block title %}Noticias - {{ titulo }}{% endblock %}

{% block body %}
    <h1>{{ titulo }}</h1>
    <div>
        <ul>
            {% for noticia in noticias %}
                <li>{{ noticia.textoNoticia }} Fecha: {{ noticia.fecha }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

